    /* ====================== COPY STYLE DARI CONSIGNEE ====================== */
    .filter-btn {
        position: relative;
        overflow: hidden;
        background-color: #fff !important;
        color: #435ebe !important;
        border: 1px solid #435ebe !important;
        transition: all 0.3s ease-in-out;
    }

    .filter-btn:hover {
        background-color: #435ebe !important;
        color: #fff !important;
    }

    .filter-btn.active {
        background-color: #435ebe !important;
        color: #fff !important;
        border-color: #435ebe !important;
        font-weight: 600;
        box-shadow: 0 0.25rem 0.5rem rgba(67, 94, 190, 0.4);
    }

    .btn {
        transition: 0.2s;
    }

    .btn:hover {
        transform: translateY(-4px);
    }

    .form-label {
        font-weight: 600;
        margin-bottom: 6px;
        color: #3a3a3a;
    }
